@import url('https://fonts.googleapis.com/css2?family=Nixie+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Nixie One", system-ui;
    background-image: linear-gradient(#94BDF2, #737372 );
   
}

img {
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.second {
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1%;
        font-size: 2vh;
}

.second p {
    margin-left: 3%;
}

.column2 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    justify-content: space-between;
    font-size: 4vh;
}

.row2 {
    display: flex;
    flex-wrap: row;
    margin-top: 5%;
    margin-right: 3%;
}

.cardnumb {
    margin-right: 3%;
}

.exp {
    margin-left: 15%;
}

.vvc {
    margin-left: 20%;
}
#nameoncard {
    width: 68vw;
    height: 6vh;
    font-size: 5vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
}


#cardnumber {
    width: 10vw;
    height: 6vh;
    margin-left: 10%;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
    
}

#expodate {
    width: 12vw;
    height: 6vh;
    margin-left: 8%;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;

}

#cvv {
    width: 8vw;
    margin-left: 10%;
    height: 6vh;
    border: 2px solid;
    border-radius: 1rem;
    background-color: #D7D9D7;
    
}

.next {
margin-left: 43%;
margin-top: 9%;
height: 7vh;
width: 15vw;
font-size: 5vh;
background-color: #D7D9D7;
border: 2px solid;
border-radius: 1rem;
transition: transform 0.5s;
}

.next:hover {
    transform: scale(1.1);
    background-color: #737372;
}


h1 {
    text-align: center;
    margin-top: 10%;
    font-size: 5vh;
}

.img {
    width: 15vw;
    height: 15vh;
}

.imageline {
    display: flex;
    flex-direction: row;
}

.images2 {
    height: 6vh;
    width: 5vw;
    margin-left: 20%;
    background-color: #D7D9D7;
    border-radius: 50%;
    padding: 0.5%;
}

.time {
    display: flex;
    flex-direction: row;
}

#check2 {
    margin-left: 4%;
    color: #D7D9D7;
   
}

#arrow3 {
    margin-left: 6%;
}

@media screen and (min-width: 1364px) and (max-width: 1446px) {

    #nameoncard {
        width: 75vw;
    }

    #cardnumber {
      margin-left: 50%;
      width: 12vw;
    }

    #expodate {
        margin-left: 20%;
       
    }

    #cvv {
        margin-left: -15%;
      
    }
}

@media screen and (min-width: 1114px) and (max-width: 1363px) {
    #nameoncard {
      width: 80vw;
    }

    .cardnumb {
        margin-left: 10%;
    }

    .exp {
     margin-left: -6%;
    
    }

    .vvc {
        margin-left: -2%;
    }
}
 

@media screen and (min-width: 1004px) and (max-width: 1114px) {
    #nameoncard {
        width: 80vw;
      }
  
      .cardnumb {
          margin-left: 10%;
      }

      #cardnumber {
        width: 13vw;
      }
  
      .exp {
       margin-left: -12%;
      
      }
  
      .vvc {
          margin-left: -8%;
      }

      img {
        height: 25vh;
      }
}

@media screen and (min-width: 807px) and (max-width: 1004px) {
    #nameoncard {
        width: 80vw;
        font-size: 3vh;
      }
  
      .cardnumb {
          margin-left: 10%;
          font-size: 3vh;
      }

      #cardnumber {
        width: 15vw;
        
      }
  
      .exp {
       margin-left: -12%;
       font-size: 3vh;
      
      }
  
      .vvc {
          margin-left: -8%;
          font-size: 3vh;
      }

      img {
        height: 25vh;
      }
}

@media screen and (min-width: 663px) and (max-width: 807px) {
    #nameoncard {
        width: 85vw;
        font-size: 1vh;
      }
  
      .cardnumb {
          margin-left: 10%;
          font-size: 2.5vh;
      }

      #cardnumber {
        width: 15vw;
        
      }
  
      .exp {
       margin-left: -12%;
       font-size: 2.5vh;
      
      }
  
      .vvc {
          margin-left: -8%;
          font-size: 2.5vh;
      }

      .next {
        font-size: 3vh;
      }

      img {
        height: 20vh;
      }
      
}

@media screen and (min-width: 543px) and (max-width: 663px) {
    #nameoncard {
        width: 85vw;
        font-size: 1vh;
      }
  
      .cardnumb {
          margin-left: 10%;
          font-size: 2vh;
      }

      #cardnumber {
        width: 15vw;
        
      }
  
      .exp {
       margin-left: -12%;
       font-size: 2vh;
      
      }
  
      .vvc {
          margin-left: -8%;
          font-size: 2vh;
      }

      .next {
        font-size: 3vh;
      }

      .img {
        height: 10vh;
      }

      .s1 {
        font-size: 1.5vh;
        
      }
      .s2 {
        font-size: 1.5vh;
        
      }
      .s3 {
        font-size: 1.5vh;
      }

      .second {
        margin-left: 5%;
      }

      img {
        height: 20vh;
      }
}


@media screen and (min-width: 320px) and (max-width: 543px) {
    #nameoncard {
        width: 90vw;
        height: 3vh;
        font-size: 1vh;
      }
  
      .cardnumb {
          margin-left: 3%;
          font-size: 1.5vh;
      }

      #cardnumber {
        width: 20vw;
        font-size: 1vh;
        height: 3vh;
        
      }
  
      .exp {
       margin-left: -8%;
       font-size: 1.5vh;
      
      }

      #expodate {
        height: 3vh;
        font-size: 1vh;
        width: 15vw;
      }
  
      .vvc {
          margin-left: -1%;
          font-size: 1.5vh;
      }

      #cvv {
        height: 3vh;
        width: 9vw;
        font-size: 1vh;
      }

      .next {
        font-size: 1.5vh;
        height: 3vh;
      }

      .img {
        height: 5vh;
      }

      .s1 {
        font-size: 1.5vh;
        
      }
      .s2 {
        font-size: 1.5vh;
        
      }
      .s3 {
        font-size: 1.5vh;
      }

      .second {
        margin-left: 5%;
      }

      img{
        height: 15vh;
      }

      h1 {
        font-size: 3vh;
      }
}