body {
    font-family: "Nixie One", system-ui;
    background-image: linear-gradient(#94BDF2, #737372 );
   
} 

img {
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.time {
    display: flex;
    flex-direction: row;
}

.images2 {
    height: 6vh;
    width: 5vw;
    margin-left: 20%;
    background-color: #D7D9D7;
    border-radius: 50%;
    padding: 0.5%;
}

.second {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    font-size: 2vh;
}

.second p {
margin-left: 3%;
}

#check2 {
    margin-left: 4%;
    color: #D7D9D7;
   
}

#arrow3 {
    margin-left: 6%;
}

.column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    font-size: 3vh;
    
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    font-size: 3vh;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 3vh;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    font-size: 3vh;
}

.b1 {
    margin-top: 3%;
}

.b2 {
    margin-top: 3%;
}

.b3 {
    margin-top: 3%;
    margin-left: 1%;
}

.b4 {
    margin-top: 3%;
    margin-left: 1%;
}

#firstname {
    width: 50vw;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#lastname {
    width: 50vw;
    font-size: 3vh;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#adress1 {
    width: 50vw;
    font-size: 3vh;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#adress2 {
    width: 50vw;
    font-size: 3vh;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#city {
    width: 18vw;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#state {
    width: 19vw;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

.b5 {
    margin-right: 3%;
}

.b6 {
    margin-right: -3%;
}

#country {
    width: 11.5vw;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

#postalcode {
    width: 13vw;
    font-size: 5vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

.b7 {
    margin-right: 11%;
    margin-left: 2%;
}

.b8 {
    margin-right: 2%;
}

#phonenumber {
    width: 18.5vw;
    height: 3vw;
    margin-right: 6.5%;
    font-size: 3vh;
    background-color: #D7D9D7;
    border-radius: 1rem;
}

.b9 {
    margin-left: 2.5%;
}

.next {
height: 7vh;
width: 11vw;
font-size: 5vh;
border: 2px solid;
border-radius: 1rem;
background-color: #D7D9D7;
margin-top: 10%;
margin-left: 35%;
transition: transform 0.5s;
}

.next:hover {
    background-color: #737372;
}



@media screen and (min-width: 1270px) and (max-width: 1446px) {

    .b5 {
        margin-left: 3%;
    }

    #city {
        width: 16vw;
    }

    #state {
        width: 16vw;
    }

    #country {
        width: 14vw;
    }

    #postalcode {
        width: 11vw;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 11%;
   }

   #phonenumber {
    width: 16vw;
    font-size: 2vh;
   }

   .next {
    height: 6vh;
    font-size: 3vh;
    margin-left: -24%;
   }
}


@media screen and (min-width: 1062px) and (max-width: 1270px) {

    .b5 {
        margin-left: 3%;
    }

    #city {
        width: 16vw;
    }

    #state {
        width: 16vw;
    }

    #country {
        width: 14vw;
    }

    #postalcode {
        width: 11vw;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 12%;
   }

   #phonenumber {
    width: 15vw;
    font-size: 2vh;
   }

   .next {
    height: 6vh;
    font-size: 3vh;
    margin-left: -24%;
   }

   .images2 {
    width: 5vw;
    height: 5vh;
   }
}



@media screen and (min-width: 912px) and (max-width: 1062px) {

    .b5 {
        margin-left: 3%;
        font-size: 2.5vh;
    }
    .b1 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b2 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b3 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b4 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b6 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b7 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b8 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    .b9 {
        /* margin-left: 3%; */
        font-size: 2.5vh;
    }

    #city {
        width: 16vw;
    }

    #state {
        width: 16vw;
    }

    #country {
        width: 14vw;
    }

    #postalcode {
        width: 11vw;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 12%;
   }

   #phonenumber {
    width: 15vw;
    font-size: 1.5vh;
   }

   .next {
    height: 6vh;
    font-size: 3vh;
    margin-left: -24%;
   }

   .images2 {
    width: 3.5vw;
    height: 3vh;
   }

   img {
    width: 25vw;
    height: 25vh;
   }
   
}

@media screen and (min-width: 683px) and (max-width: 912px) {

    .b5 {
        margin-left: 3%;
        font-size: 2vh;
    }
    .b1 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b2 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b3 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b4 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b6 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b7 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b8 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    .b9 {
        /* margin-left: 3%; */
        font-size: 2vh;
    }

    #city {
        width: 16vw;
    }

    #state {
        width: 16vw;
    }

    #country {
        width: 14vw;
    }

    #postalcode {
        width: 11vw;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 12%;
   }

   #phonenumber {
    width: 15vw;
    font-size: 1vh;
   }

   .next {
    height: 6vh;
    font-size: 3vh;
    margin-left: -24%;
   }

   .images2 {
    width: 6vw;
    height: 4vh;
   }

   img {
    width: 20vw;
    height: 20vh;
   }

   .s1 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s2 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s3 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

  #firstname {
    width: 60vw;
  }

  #lastname {
    width: 60vw;
  }

  #adress1 {
    width: 60vw;
  }

  #adress2 {
    width: 60vw;
  }
}

@media screen and (min-width: 477px) and (max-width: 683px) {

    .b5 {
        margin-left: 3%;
        font-size: 1.5vh;
    }
    .b1 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
       
    }

    .b2 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b3 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b4 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b6 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b7 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b8 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b9 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    #city {
        width: 16vw;
        height: 4vh;
        font-size: 1vh;
    }

    #state {
        width: 16vw;
        height: 4vh;
        font-size: 1vh;
    }

    #country {
        width: 14vw;
        height: 4vh;
        font-size: 1vh;
    }

    #postalcode {
        width: 11vw;
        height: 4vh;
        font-size: 1vh;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 12%;
   }

   #phonenumber {
    width: 15vw;
    font-size: 1vh;
    height: 4vh;
   }

   .next {
    height: 5vh;
    font-size: 1.5vh;
    margin-left: -24%;
   }

   .images2 {
    width: 6vw;
    height: 3vh;
   }

   img {
    width: 20vw;
    height: 20vh;
   }

   .s1 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s2 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s3 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

  #firstname {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #lastname {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #adress1 {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #adress2 {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 477px) {

    .b5 {
        margin-left: 3%;
        font-size: 1.5vh;
    }
    .b1 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
       
    }

    .b2 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b3 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b4 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b6 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b7 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b8 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    .b9 {
        /* margin-left: 3%; */
        font-size: 1.5vh;
    }

    #city {
        width: 16vw;
        height: 4vh;
        font-size: 1vh;
    }

    #state {
        width: 16vw;
        height: 4vh;
        font-size: 1vh;
    }

    #country {
        width: 14vw;
        height: 4vh;
        font-size: 1vh;
    }

    #postalcode {
        width: 11vw;
        height: 4vh;
        font-size: 1vh;
    }

   .b7 {
    margin-right: 2%;
   }

   .b9 {
    margin-left: 12%;
   }

   #phonenumber {
    width: 15vw;
    font-size: 1vh;
    height: 4vh;
   }

   .next {
    height: 5vh;
    font-size: 1.5vh;
    margin-left: -24%;
   }

   .images2 {
    width: 6vw;
    height: 3vh;
   }

   img {
    width: 18vw;
    height: 18vh;
   }

   .s1 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s2 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

   .s3 {
    font-size: 1.5vh;
    margin-left: 5%;
   }

  #firstname {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #lastname {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #adress1 {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }

  #adress2 {
    width: 60vw;
    height: 4vh;
    font-size: 2vh;
  }
}